<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<div id="content" class="display_always">
    <div class="about">
        <section class="simple-signon">
            <h2 class="title"><%- gettext('Simplified sign-on.') %></h2>
            <article class="blurb">
                <div class="info first">
                    <h1><%- gettext('Persona replaces multiple passwords') %></h1>
                    <p><%- gettext('Sites such as <a href="http://crossword.thetimes.co.uk/" target="_blank">The Times Crossword</a>, <a href="http://current.openphoto.me/" target="_blank">OpenPhoto</a> and <a href="https://www.voo.st/" target="_blank">Voost</a> use Persona instead of usernames to sign you in.') %></p><p><%- gettext('This means you only need one password to sign in to many sites.') %></p>
                </div>

                <div class="graphic">
                    <img src="<%- cachify('/pages/i/one-password-graphic.png') %>" alt="<%- gettext('One password to rule them all.') %>">
                </div>
            </article>

            <article class="blurb flexible">
                <div class="graphic first">
                    <img src="<%- cachify('/pages/i/flexible-graphic.png') %>" alt="<%- gettext('Use multiple email addresses') %>">
                </div>

                <div class="info">
                    <h1><%- gettext('Persona is flexible') %></h1>
                    <p><%- gettext('Within Persona, your identity is your email address. You can use as many email addresses as you want, but you still only need one password.') %></p>
                </div>
            </article>
        </section>

        <section class="privacy">
            <h2 class="title"><%- gettext('Real privacy.') %></h2>

            <article class="blurb half first" style="min-height: 195px; ">
                <h1><%- gettext('Persona is proudly non-profit for you') %></h1>
                <p><%- gettext('Persona is developed by Mozilla, a not-for-profit company trusted throughout the Web community. Our goal is to create technologies that balance an open Web platform with people\'s privacy.') %></p>
            </article>
            <article class="blurb half">
                <h1><%- gettext('Persona preserves your privacy') %></h1>
                <p><%- gettext('Persona does not track your activity around the Web. It creates a wall between signing you in and what you do once you\'re there. The history of what sites you visit is stored only on your own computer.') %></p>
            </article>
        </section>

        <a href="https://developer.mozilla.org/en/BrowserID/Quick_Setup" class="developers" target="_blank"><img src="<%- cachify('/pages/i/developers-link.png') %>" alt="<%- gettext('Persona for developers') %>"><span><%- gettext('Implement Persona on your site') %> </span><%- gettext('Developer guides and API documentation') %></a>
    </div><!-- #dashboard -->
</div>

