<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<div id="hAlign" class="display_always">
    <div id="vAlign">
        <ul class="notifications">
            <li class="notification error" id="cannotconfirm"><%= gettext('Error encountered while attempting to confirm your address. Have you previously verified this address?') %></li>
            <li class="notification error" id="cannotcomplete"><%= gettext('Error encountered trying to complete registration.') %></li>
        </ul>

        <form id="signUpForm" class="cf">
            <p class="hint siteinfo"><%= gettext('Finish signing into:') %> <strong><span class="website"></span></strong></p>

            <h1><%= gettext('Email Verification') %></h1>

            <ul class="inputs">
                <li>
                    <label for="email"><%= gettext('Email Address') %></label>
                    <input class="youraddress" id="email" placeholder="<%= gettext('Your Email') %>" type="email" value="" disabled="disabled" maxlength="254" />
                </li>
                <li class="password_entry">
                    <label for="password"><%= gettext('Password') %></label>
                    <input id="password" placeholder="<%= gettext('Your Password') %>" type="password" autofocus maxlength=80 />

                    <div class="tooltip" id="password_required" for="password">
                      <%= gettext('Password is required.') %>
                    </div>

                    <div class="tooltip" id="password_length" for="password">
                      <%= gettext('Password must be between 8 and 80 characters long.') %>
                    </div>

                    <div id="cannot_authenticate" class="tooltip" for="password">
                      <%= gettext('The account cannot be verified with this username and password.') %>
                    </div>
                </li>

                <li class="password_entry" id="verify_password">
                    <label for="vpassword"><%= gettext('Verify Password') %></label>
                    <input id="vpassword" placeholder="<%= gettext('Repeat Password') %>" type="password" maxlength="80">

                    <div id="vpassword_required" class="tooltip" for="vpassword">
                      <%= gettext('Verification password is required.') %>
                    </div>

                    <div class="tooltip" id="passwords_no_match" for="vpassword">
                      <%= gettext ('Passwords do not match.') %>
                    </div>

                </li>
            </ul>

            <div class="submit cf password_entry">
                <button><%= gettext('finish') %></button>
            </div>


        </form>

        <div id="congrats">
            <p>
                <%- gettext('<strong class="email">Your address</strong> has been verified!') %>

                <p class="siteinfo">
                  <%= gettext('Your new address is set up and you should now be signed in. You may now close this window and go back to') %> <strong class="website"></strong>
                </p>
            </p>
        </div>
    </div>
</div>

