<!DOCTYPE html>
<%- partial('partial/license_with_code_ver') %>
<html LANG="<%= lang %>" dir="<%= lang_dir %>">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <% if (measureDomLoading) {
    /* This has to be the very first item in the head to get the best
    possible approximation as to when the DOM starts loading
    */ %>
    <script>
      window.BrowserID = window.BrowserID || {};
      try {
        // default to the browser's performance timers if available.
        BrowserID.DOM_LOADING = window.performance.timing.domLoading;
      } catch(e) {
        // use the current system date if performance timers are not available.
        BrowserID.DOM_LOADING = new Date().getTime();
      }
    </script>
  <% } %>

  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
  <meta name="format-detection" content="email=no" />

  <!--[if lt IE 9]>
    <%- cachify_js('/production/html5shim.js') %>
  <![endif]-->
  <%- cachify_css(util.format('/production/%s/dialog.css', locale)) %>
  <!--[if lt IE 9]>
    <%- cachify_css('/production/ie8_dialog.css') %>
  <![endif]-->
  <link rel="shortcut icon" href=<%- cachify('/favicon.ico') -%>>
  <% /* the title comes from the server when the page is loaded.
         It still needs translated, so wrap it in its own gettext
     */ %>
  <title><%= format(gettext("Mozilla Persona: %s"), [gettext(title)]) %></title>
</head>
  <body <% if (showLoading) { %>class="loading"i<% } %>>
      <% if (useJavascript !== false && enable_development_menu) { %>
        <a href="#" id="showDevelopment">&nbsp;</a>
      <% } %>

      <div id="content">
        <%- body %>
      </div>

      <% if (showLoading) { %>

      <!-- the loading screen should take up the entire
           screen and not just within the borders of the content
           -->
      <section id="load" class="message_screen">
        <div class="table">
            <div class="vertical">
                <div class="contents">
                    <div class="loadingSpinner"></div>
                    <h2 class="center"><%= gettext('Connecting to Persona...') %></h2>
                </div>
            </div>
        </div>
      </section>

      <% } %>


      <footer>
<span id="footerText"><%- format(gettext('<strong>Mozilla Persona.</strong> Simplified sign-in by the non-profit behind Firefox. <a %s>Learn more&rarr;</a>'), [" href='/about' target='_blank'"]) %></span>
      </footer>


      <% if (useJavascript !== false) { %>
<!-- script src="/common/js/browserid.js"></script -->
<script src="/common/js/lib/jquery-1.7.1.min.js"></script>
<!-- script src="/common/js/lib/tinyscore.js"></script>
<script src="/common/js/helpers.js"></script>
<script src="/common/js/lib/module.js"></script>
<script src="common/js/modules/xhr.js"></script>
<script src="/common/js/network.js"></script -->
<script>
// authentication_form add returning
// or #signin .contents
$('#authentication_form').addClass('returning');
$('.isMobile').removeClass('isMobile');
$('#authentication_form').show();
var csrf_token;
$('button.isReturning').click(function(e) {
  e.preventDefault();
  $('#cannot_authenticate').hide('fast');
  var params = {
    "email": $('#authentication_email').val(),
    "pass": $('#authentication_password').val(),
    "ephemeral":true,
    "allowUnverified": false,
    "csrf": csrf_token
  };
  console.log('Sending ', params);
  $.ajax('/wsapi/authenticate_user', {
    type: 'POST',
    contentType: 'application/json; charset=UTF-8',
    data: JSON.stringify(params),
    dataType: 'json',
    error: function(xhr, status, err) {
      $('#cannot_authenticate').show('fast');
      console.error('Auth call failed');
      console.log(xhr, status, err);
      console.error(err);
    },
    success: function(res, status, xhr) {
      console.log('res data=', typeof res, res, typeof res.success);
      if (res.success === true ||
          res.success === "true") {
        navigator.id.completeAuthentication();
      }
    },
    complete: function(tbd) {
      console.log('/wsapi/authenticate_user finished');
    }
  });
});

$('.cancelPassword:visible').click(function(e) {
  e.preventDefault();
  var msg = "user clicked cancel";
  navigator.id.raiseProvisioningFailure(msg);
});

console.log('Starting beginAuthentication');
navigator.id.beginAuthentication(function(email) {
  $('#authentication_email').val(email);
  $('#authentication_email').attr('disabled', 'disabled');
  console.log('callback beginAuthentication');
  console.log(email);
  $.getJSON('/wsapi/session_context', function(data, status, xhr) {
    console.log(data);
    csrf_token = data.csrf_token;
    console.log('csrf_token=', csrf_token);
    if (data.authenticated) {
      $.getJSON('/wsapi/list_emails', function(data, status, xhr) {
        console.log('list_emails', data);
        if (data.emails.indexOf(email) !== -1) {
          console.log('Woo hoo you all clear kid');
          navigator.id.completeAuthentication();
        }
      });
    }
  });
});
</script>
      <% } %>
	</body>
</html>


