<!DOCTYPE html>
<%- partial('partial/license_with_code_ver') %>
<html>
<head><title>non-interactive iframe</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <meta charset="utf-8">
  <% if (production) { %>
  <%- cachify_prefetch(util.format('/production/%s/dialog.js', locale)) %>
  <%- cachify_prefetch(util.format('/production/%s/dialog.css', locale)) %>
  <%- cachify_prefetch('/common/i/grain.png') %>
  <%- cachify_prefetch('/dialog/i/persona-logo-transparent.png') %>
  <%- cachify_prefetch('/dialog/i/arrow_grey.png') %>
  <%- cachify_prefetch('/common/i/button-loader.gif') %>
  <%- cachify_prefetch('/common/i/button-arrow.png') %>
  <%- cachify_prefetch('/common/i/button-arrow-hover.png') %>
  <%- cachify_prefetch('/common/i/button-arrow-active.png') %>
  <%- cachify_prefetch('/dialog/i/persona_watermark.png') %>
  <%- cachify_prefetch('/dialog/i/persona_watermark_sm.png') %>
  <%- cachify_prefetch('/dialog/i/persona_watermark_dark_sm.png') %>
  <% } %>
  <%- cachify_js('/production/communication_iframe.js') %>
</head>
<body></body>
</html>
