<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
    <section id="formWrap" class="rpBackground">
      <form novalidate>
        <div class="favicon">
            <div class="table">
                <div class="vertical rpInfo">
                </div>
            </div>
        </div>

        <div id="signIn">
            <div class="table">
              <div class="vertical">
                <div class="contents">
                </div>
                <!-- the username and password must be in the dialog before
                     DOMContentLoaded or else the Firefox password manager does
                     not fill in passwords -->
                <div id="authentication_form" class="form_section">

                    <div class="isMobile">
                      <h2 class="isStart isEmailMutable">
                          <%- format(gettext('Sign in with Persona')) %>
                      </h2>
                    </div>

                    <ul class="inputs">



                    <div class="isDesktop">
                      <h2 class="isStart isAddressInfo persona_intro">
                          <%- format(gettext('Sign in to %s as&hellip;'), ['<span id="start_rp_name"></span>']) %>

                      </h2>
                      <h2 class="isTransitionToSecondary deemphasize">
                        <%- format(gettext('%(idp)s no longer allows you to log into Persona with your %(idp)s password. You must now use your existing Persona password to log in with this email address.'), { idp: '<strong class="authentication_idp_name"></strong>'}) %>
                      </h2>

                      <h2 class="isReturning">
                        <%= gettext('Persona password') %>
                      </h2>
                    </div>


                        <li>
                            <label for="authentication_email" class="hidden"><%= gettext('email address') %></label>
                            <input id="authentication_email" class="isDesktopOrStart" type="email" autocapitalize="off" autocorrect="off" spellcheck="false" value="" maxlength="254" placeholder="<%= gettext('email address') %>"/>

                            <div id="email_format" class="tooltip" for="authentication_email">
                              <%= gettext('Must be an email address') %>
                            </div>

                            <div id="email_required" class="tooltip" for="authentication_email">
                              <%= gettext('Email field required') %>
                            </div>

                        </li>


                        <li class="isReturning isTransitionToSecondary">
                            <span class="isEmailImmutable right">
                              <a class="isDesktop forgotPassword" href="#">
                                <%= gettext('Forgot your password?') %>
                              </a>
                            </span>

                            <label for="authentication_password" class="hidden"><%= gettext('Password') %></label>

                            <h2 class="isMobile"><%- gettext('Enter password') %></h2>
                            <input id="authentication_password" type="password" maxlength="80" placeholder="<%= gettext('password') %>" />

                            <div id="password_required" class="tooltip" for="authentication_password">
                              <%= gettext('Password field required') %>
                            </div>

                            <div id="could_not_add" class="tooltip" for="authentication_password">
                              <%= gettext('Initial confirmation sent &ndash; wait a few minutes before requesting another') %>
                            </div>

                            <div id="cannot_authenticate" class="tooltip" for="authentication_password">
                              <%= gettext('Password incorrect') %>
                            </div>

                        </li>

                    </ul>

                    <p class="submit cf isReturning isTransitionToSecondary">
                      <a class="isMobile forgotPassword" href="#">
                        <%= gettext('Forgot your password?') %>
                      </a>
                    </p>


                    <p class="submit tospp cf isDesktopOrStart isEmailMutable">
                       <%- format(gettext("By proceeding, you agree to %(site)s's <a %(terms)s>Terms</a> and <a %(privacy)s>Privacy Policy</a>."),
                                  { site: "Persona",
                                    terms:
                                        'href="https://login.persona.org/' + lang + '/embedded_tos" target="_new" tabindex="1"',
                                    privacy:
                                        'href="https://login.persona.org/' + lang + '/embedded_privacy" target="_new" tabindex="1"' }) %>
                    </p>

                    <p class="isMobile isStart submit tospp cf rpInfo">
                    </p>

                    <p class="submit cf buttonrow">

                      <button class="isDesktop isStart isAddressInfo">
                        <%= gettext('next') %>
                      </button>

                      <button class="isMobile isStart isAddressInfo continue right" disabled>
                        <%= gettext('continue') %>
                      </button>

                      <a href="#" class="isMobile isStart isAddressInfo cancelDialog">
                        <%= gettext('cancel') %>
                      </a>

                      <button class="isReturning isTransitionToSecondary">
                        <%= gettext('sign in') %>
                      </button>

                      <a href="#" class="isMobile isReturning isTransitionToSecondary cancelPassword">
                        <%= gettext('cancel') %>
                      </a>

                      <a href="#" class="isDesktop isEmailImmutable cancelPassword right">
                        <%= gettext('cancel') %>
                      </a>

                      <a class="isDesktop isReturning isTransitionToSecondary isEmailMutable forgotPassword left" href="#">
                        <%= gettext('Forgot your password?') %>
                      </a>

                    </p>


                </div>
              </div>
            </div>
            <div class="arrowContainer isDesktop">
                <div class="arrow"></div>
            </div>
        </div>
      </form>
    </section>


    <section id="wait" class="message_screen">
        <!-- because each section is an absolutely positioned element, we have to use the inner table container element to be able to vertically/horizontally center correctly.  Without the table element, the layout gets all messed up. -->
        <div class="table">
            <div class="vertical">
                <div class="contents">
                </div>
            </div>
        </div>
    </section>

    <section id="error" class="message_screen">
        <div class="table">
            <div class="vertical">
                <div class="contents">
                </div>
            </div>
        </div>
        <p class="submit cf buttonrow isMobile">
            <button class="cancelDialog"><%= gettext('OK') %></button>
        </p>
    </section>

    <section id="delay" class="message_screen center">
        <div class="table">
            <div class="vertical">
                <div class="contents">
                </div>
            </div>
        </div>
    </section>
