<!DOCTYPE html>
<%- partial('partial/license_with_code_ver') %>
<html LANG="<%= lang %>" dir="<%= lang_dir %>">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
  <meta name="format-detection" content="email=no" />

  <!--[if lt IE 9]>
    <%- cachify_js('/production/html5shim.js') %>
  <![endif]-->
  <%- cachify_css('/production/dialog.css') %>
  <!--[if lt IE 9]>
    <%- cachify_css('/production/ie8_dialog.css') %>
  <![endif]-->
  <% /* the title comes from the server when the page is loaded.
         It still needs translated, so wrap it in its own gettext
     */ %>
  <title><%= format(gettext("Mozilla Persona: %s"), [gettext(title)]) %></title>
</head>
  <body class="waiting">
      <header id="header">
         <% if (useJavascript !== false && enable_development_menu) { %>
           <a href="#" id="showDevelopment">&nbsp;</a>
         <% } %>
         <h1><a class="home" target="_blank" href="/">Mozilla Persona Home</a></h1>
      </header>

      <div id="content">
        <%- body %>
      </div>

      <footer>
<%- format(gettext('<strong>Persona.</strong> Simplified sign-in, built by a non-profit. <a %s>Learn more&rarr;</a>'), [" href='/about' target='_blank'"]) %>
      </footer>


      <% if (useJavascript !== false) { %>
        <%- cachify_js(util.format('/production/%s/dialog.js', locale)) %>
      <% } %>
	</body>
</html>
