<!DOCTYPE html>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<html LANG="<%= lang %>" dir="<%= lang_dir %>">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width" />
  <meta name="format-detection" content="email=no" />

  <!--[if lt IE 9]>
    <script src="/lib/html5shim.js"></script>
  <![endif]-->
  <%- cachify_css('/production/dialog.css') %>
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic" rel="stylesheet" type="text/css">
  <title><%= gettext('BrowserID') %></title>
</head>
  <body class="waiting">
      <div id="wrapper">
          <header id="header" class="cf">
              <ul>
                  <li><a class="home" target="_blank" href="/">BrowserID Home</a></li>
              </ul>
          </header>

          <div id="content">
            <%- body %>
          </div>

          <footer>
                <!--ul class="cf">
                    <li>By <a href="http://mozillalabs.com">Mozilla Labs</a></li>

                    <li>&mdash;</li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">TOS</a></li>
                </ul-->

                <div class="learn">
<%- gettext('BrowserID is the fast and secure way to sign in &mdash; <a target="_blank" href="/about">learn more</a>') %>
                </div>

          </footer>

      </div>

      <% if (useJavascript !== false) { %>
        <%- cachify_js(util.format('/production/%s/dialog.js', locale)) %>
      <% } %>
	</body>
</html>
