<!DOCTYPE html>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<html LANG="<%= lang %>" dir="<%= lang_dir %>">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width" />
  <meta name="format-detection" content="email=no" />

  <!--[if lt IE 9]>
    <script src="/lib/html5shim.js"></script>
  <![endif]-->
  <%- cachify_css('/production/dialog.css') %>
  <!--[if lt IE 9]>
    <%- cachify_css('/production/ie8_dialog.css') %>
  <![endif]-->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <title><%= gettext('Mozilla Persona') %></title>
</head>
  <body class="waiting">
      <header id="header">
         <a href="#" id="showDevelopment">&nbsp;</a>
         <h1><a class="home" target="_blank" href="/">Mozilla Persona Home</a></h1>
      </header>

      <div id="content">
        <%- body %>
      </div>

      <footer>
<%- format(gettext('Mozilla Persona is the fast and secure way to sign in.  <a %s>Learn more &rarr;</a>'), [" href='/about' target='_blank'"]) %>

      </footer>


      <% if (useJavascript !== false) { %>
        <%- cachify_js(util.format('/production/%s/dialog.js', locale)) %>
      <% } %>
	</body>
</html>
