<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<div id="hAlign" class="display_always">
    <div id="vAlign">
        <!-- XXX this form submits to nowhere -->
        <form id="signUpForm" class="cf authform" novalidate>
            <h1><%- gettext('Forgot Password') %></h1>
            <div class="notifications">
                <div class="notification emailsent">
                  <h2><%- gettext('Confirm your email address') %></h2>

                  <p>
                    <%- gettext('Check your email at <strong id="sentToEmail"></strong>.') %>
                  </p>

                  <p>
                    <%- gettext('Click the link in the confirmation email. Your password will then be reset.') %>
                  </p>
                </div>
            </div>

            <ul class="inputs forminputs">
                <li>
                    <label for="email"><%- gettext('Email Address') %></label>
                    <input id="email" autofocus required placeholder="<%- gettext('Your Email') %>" type="email" autocapitalize="off" autocorrect="off" maxlength="254" />

                    <div id="email_format" class="tooltip" for="email">
                      <%- gettext('This field must be an email address.') %>
                    </div>

                    <div id="email_required" class="tooltip" for="email">
                      <%- gettext('The email field is required.') %>
                    </div>

                    <div id="could_not_add" class="tooltip" for="email">
                      <%- gettext('We just sent an email to that address! If you really want to send another, wait a minute or two and try again.') %>
                    </div>

                    <div id="not_registered" class="tooltip" for="email">
                      <%- gettext('Non existent user!') %>
                    </div>
                </li>

                <li>
                    <label for="password"><%- gettext('Password') %></label>
                    <input id="password" placeholder="<%- gettext('Password') %>" type="password" maxlength="80">

                    <div id="password_required" class="tooltip" for="password">
                        <%- gettext('Password is required.') %>
                    </div>

                    <div class="tooltip" id="password_length" for="password">
                        <%- gettext('Password must be between 8 and 80 characters long.') %>
                    </div>

                    <div id="could_not_add" class="tooltip" for="password">
                        <%- gettext('We just sent an email to that address! If you really want to send another, wait a minute or two and try again.') %>
                    </div>
                </li>

                <li>
                    <label for="vpassword"><%- gettext('Verify Password') %></label>
                    <input id="vpassword" placeholder="<%- gettext('Verify Password') %>" type="password" maxlength="80">

                    <div id="password_required" class="tooltip" for="vpassword">
                      <%- gettext('Verification password is required.') %>
                    </div>

                    <div class="tooltip" id="passwords_no_match" for="vpassword">
                      <%- gettext('These passwords don\'t match!') %>
                    </div>

                </li>

            </ul>

            <div class="submit cf forminputs">
                <button><%- gettext('Reset Password') %></button>
                <div class="remember cf">
                    <a class="action" href="/signin"><%- gettext('Know your password? Sign in.') %></a>
                </div>
            </div>
        </form>
    </div>
</div>

