<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

  <div id="hAlign" class="display_nonauth">
      <div id="vAlign">
          <div id="signUp">
              <div id="card"><img src="<%- cachify('/pages/i/slit.png') %>"></div>

              <h1 class="white headline-main"><%- gettext('Connect with Mozilla Persona, the safest &amp; easiest way to sign in.') %></h1>
              <p class="tour white">
                <%- format(gettext('<a %(aboutLink)s>Take the tour</a>'),
                      {
                        aboutLink: 'href="/about" class="button create"'
                      }) %>
              </p>
          </div>
      </div>
  </div>

  <!--
    These "templates" below aren't available as EJS client-side, since all
    EJS tags are processed when this view is served by the server.
  -->

  <script type="text/html" id="templateUser">
    <li class="identity cf">
      <div class="email">{{email}}</div>
      <button class="delete"><%- gettext('remove') %></button>
    </li>
  </script>

  <script type="text/html" id="templateManage">
    <div id="content">
        <div class="newsbanner" id="newuser">
          <%- format(gettext('New to Mozilla Persona? <a %(learnMoreLink)s>Learn more</a>'), { learnMoreLink: 'href="/about"' }) %>
        </div>

        <div id="manage">
            <h1><%- gettext('Account Manager') %></h1>

            <section>
              <header class="buttonrow cf">
                  <h2><%- gettext('Your Email Addresses') %></h2>

                  <button class="edit"><%- gettext('edit') %></button>
                  <button class="done"><%- gettext('done') %></button>
              </header>

              <ul id="emailList">
              </ul>
            </section>

            <section id="edit_password">
              <header class="buttonrow cf">
                <h2><%- gettext('Password') %></h2>

                <button class="edit"><%- gettext('edit') %></button>
                <button class="done"><%- gettext('cancel') %></button>
              </header>

              <form id="edit_password_form" class="showedit">
                <label for="old_password"><%- gettext('Old Password') %><br>
                  <input type="password" id="old_password" name="old_password" maxlength="80"/>
                </label>
                <label for="new_password"><%- gettext('New Password') %><br>
                  <input type="password" id="new_password" name="new_password" maxlength="80"/>
                </label>
                <button id="changePassword"><%- gettext('done') %></button>

                <div class="tooltip" for="old_password" id="tooltipOldRequired">
                  <%- gettext('Old password required') %>
                </div>
                <div class="tooltip" for="old_password" id="tooltipInvalidPassword">
                  <%- gettext('Old password incorrect') %>
                </div>
                <div class="tooltip" for="new_password" id="tooltipNewRequired">
                  <%- gettext('New password required') %>
                </div>
                <div class="tooltip" for="new_password" id="tooltipPasswordsSame">
                  <%- gettext('Passwords must be different') %>
                </div>
                <div class="tooltip" for="new_password" id="tooltipPasswordLength"><%-
                  gettext('Password must be 8&ndash;80 characters long') %>
                </div>
              </form>
            </section>


            <p id="disclaimer"><%- format(gettext('You may, at any time, <a %(cancelLink)s>cancel your account</a>'), { cancelLink: 'href="#" id="cancelAccount" class="action"' }) %></p>
        </div>
    </div>

  </script>

