<!DOCTYPE html>
<%- partial('partial/license_with_code_ver') %>
<html LANG="<%= lang %>" dir="<%= lang_dir %>">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width" />
  <meta name="format-detection" content="email=no" />
  <!--[if lt IE 9]>
    <%- cachify_js('/production/html5shim.js') %>
  <![endif]-->
  <%- cachify_css('/production/browserid.css') %>
  <!--[if lt IE 9]>
    <%- cachify_css('/production/ie8_main.css') %>
  <![endif]-->
  <%- cachify_js(util.format('/production/%s/browserid.js', locale)) %>
  <% /* the title comes from the server when the page is loaded.
         It still needs translated, so wrap it in its own gettext
     */ %>
  <title><%= format(gettext("Mozilla Persona: %s"), [gettext(title)]) %></title>
</head>
<body class="loading">
<% if (enable_development_menu) { %>
  <a href="#" id="showDevelopment">&nbsp;</a>
<% } %>
<div id="errorBackground"></div>

<div id="wrapper">
    <header id="header" class="cf">
        <a class="home" href="/"><%= gettext("Persona Home") %></a>

        <ul class="nav cf">
            <li><a href="/about"><%= gettext("How it works") %></a></li>
            <li><a href="https://developer.mozilla.org/en/BrowserID/Quick_Setup" target="_blank"><%= gettext("Developers") %></a></li>

            <li class="signIn"><a class="signIn" href="/signin"><%= gettext("Sign In") %></a></li>
            <li class="signOut"><a class="signOut" href="/"><%= gettext("Sign Out") %></a></li>

        </ul>
    </header>

    <div id="wait"><div class="contents"></div></div>
    <div id="error"><div class="contents"></div></div>
    <div id="delay"><div class="contents"></div></div>

    <%- body %>

</div>

<footer style="position: absolute; bottom: 0;">
    <ul class="cf">
        <li><%- format(gettext('By the <a %s>Identity Team</a> @ <a %s>Mozilla</a>'),
                       [" href='http://identity.mozilla.com' target='_blank'", " href='https://mozilla.org' target='_blank'"]) %></li>
        <li><a href="/privacy"><%= gettext('Privacy &rarr;') %></a></li>
        <li><a href="/tos"><%= gettext('TOS &rarr;') %></a></li>
        <li class="help"><a href="https://support.mozilla.com/kb/what-browserid-and-how-does-it-work" target="_blank"><%= gettext('Need Help? &rarr;') %></a></li>
    </ul>
</footer>


</body>
</html>
