<!DOCTYPE html>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width" />
  <meta name="format-detection" content="email=no" />
  <!--[if lt IE 9]>
    <script src="/lib/html5shim.js"></script>
  <![endif]-->
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <%- cachify_css('/production/browserid.css') %>
  <%- cachify_js(util.format('/production/%s/browserid.js', locale)) %>
  <title><%= format(gettext("BrowserID: %s"), [title]) %></title>
</head>
<body>

<div id="errorBackground"></div>

<div id="wrapper">

    <header id="header" class="cf">
        <ul class="cf">
            <li><a class="home" href="/"><%= gettext("BrowserID Home") %></a></li>
        </ul>

        <ul class="nav cf">
            <li><a href="/about"><%= gettext("How it works") %></a></li>
            <li><a href="https://github.com/mozilla/browserid/wiki/How-to-Use-BrowserID-on-Your-Site" target="_blank"><%= gettext("Developers") %></a></li>

            <li class="signIn"><a class="signIn" href="/signin"><%= gettext("Sign In") %></a></li>
            <li class="signOut"><a class="signOut" href="/"><%= gettext("Sign Out") %></a></li>
        </ul>
    </header>

    <div id="wait"><div class="contents"></div></div>
    <div id="error"><div class="contents"></div></div>
    <div id="delay"><div class="contents"></div></div>

    <%- body %>

    <footer id="footer">
        <ul class="cf">
            <li><%- format(gettext('By the <a href="%s" target="_blank">Identity Team</a> @ <a href="%s" target="_blank">Mozilla Labs</a>'),
                           ['http://identity.mozilla.com', 'http://mozillalabs.com']) %></li>
            <li>&mdash;</li>
            <li><a href="/privacy"><%= gettext('Privacy') %></a></li>
            <li><a href="/tos"><%= gettext('TOS') %></a></li>
            <li class="help"><a href="https://support.mozilla.com/en-US/kb/what-browserid-and-how-does-it-work" target="_blank"><%= gettext('Need Help?') %></a></li>
        </ul>
    </footer>

</div>

</body>
</html>
