<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<div id="hAlign">
    <div id="vAlign">
        <form id="signUpForm" class="cf password_entry vpassword_entry">
            <p class="hint siteinfo">
              <%= gettext('Finish signing into:') %> <strong class="website"></strong>
            </p>

            <h1><%= gettext('Reset Password') %></h1>

            <ul class="inputs">
                <li>
                    <label for="email"><%= gettext('Email Address') %></label>
                    <input class="email" id="email" placeholder="<%= gettext('Your Email') %>" type="email" value="" disabled="disabled" maxlength="254" />
                </li>

                <li class="password_entry vpassword_entry">
                    <!-- BEGIN TRANSITION CODE -->
                    <label for="password" class="password_entry"><%= gettext('Password') %></label>
                    <!-- END TRANSITION CODE -->
                    <label for="password" class="vpassword_entry"><%= format(gettext('Create a new password to use with %s'), ["Persona"]) %></label>
                    <input id="password" placeholder="<%= gettext('Your Password') %>" type="password" autofocus maxlength=80 />

                    <div class="tooltip" id="password_required" for="password">
                      <%= gettext('Password is required.') %>
                    </div>

                    <div class="tooltip" id="password_length" for="password">
                      <%= gettext('Password must be between 8 and 80 characters long.') %>
                    </div>
                </li>

                <li class="vpassword_entry">
                    <label for="vpassword"><%= gettext('Verify Password') %></label>
                    <input id="vpassword" placeholder="<%= gettext('Verify Password') %>" type="password" maxlength="80" />

                    <div id="vpassword_required" class="tooltip" for="vpassword">
                      <%= gettext('Verification password is required.') %>
                    </div>

                    <div class="tooltip" id="passwords_no_match" for="vpassword">
                      <%= gettext('These passwords don\'t match!') %>
                    </div>

                </li>

          </ul>

            <div class="submit cf password_entry vpassword_entry">
                <button><%= gettext('finish') %></button>
            </div>

        </form>

        <div id="congrats">
            <p>
              <%- gettext('<strong class="email">Your address</strong> has been verified!') %>
            </p>

            <p>
              <%- format(gettext('Your new address is set up and ready to go. You will be redirected to %s'), ["<strong class='website'></strong>"]) %>
            </p>

            <p id="redirection">
              <%- format(gettext("Redirecting in %s seconds"), ["<span id='redirectTimeout'></span>" ]) %>
            </p>
        </div>
    </div>
</div>

<%- partial('partial/noscript-warning') %>

