<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<div id="hAlign" class="display_always">
    <div id="vAlign">
        <!-- XXX this form submits to nowhere -->
        <form id="signUpForm" class="cf authform" novalidate>
            <h1><%- gettext('Create Account') %></h1>

            <ul class="notifications">
                <li class="notification alreadyRegistered">
                  <%- gettext('<strong id="registeredEmail"></strong> is already registered. Would you like to <a class="action" href="/signin">sign in</a> instead?') %>
                </li>

                <li class="notification emailsent">
                  <h2><%- gettext('Confirm your email address') %></h2>

                  <p>
                    <%- gettext('Check your email at <strong id="sentToEmail"></strong>.') %>
                  </p>

                  <p>
                    <%- gettext('Click the link in the confirmation email. You\'ll then immediately be signed into Persona.') %>
                  </p>
                </li>

            </ul>

            <ul class="inputs forminputs">
                <li>
                    <label for="email"><%- gettext('Email Address') %></label>
                    <input id="email" autofocus placeholder="<%- gettext('Your Email') %>" type="email" autocapitalize="off" autocorrect="off" maxlength="254" />

                    <div id="email_format" class="tooltip" for="email">
                      <%- gettext('This field must be an email address.') %>
                    </div>

                    <div id="email_required" class="tooltip" for="email">
                      <%- gettext('The email field is required.') %>
                    </div>

                    <div id="could_not_add" class="tooltip" for="email">
                      <%- gettext('We just sent an email to that address! If you really want to send another, wait a minute or two and try again.') %>
                    </div>
                </li>

                <li class="password_entry">
                    <label for="password"><%- gettext('Password') %></label>
                    <input id="password" placeholder="<%- gettext('Password') %>" type="password" maxlength="80">

                    <div id="password_required" class="tooltip" for="password">
                        <%- gettext('Password is required.') %>
                    </div>

                    <div class="tooltip" id="password_length" for="password">
                        <%- gettext('Password must be between 8 and 80 characters long.') %>
                    </div>
                </li>

                <li class="password_entry">
                    <label for="vpassword"><%- gettext('Verify Password') %></label>
                    <input id="vpassword" placeholder="<%- gettext('Verify Password') %>" type="password" maxlength="80">

                    <div id="password_required" class="tooltip" for="vpassword">
                      <%- gettext('Verification password is required.') %>
                    </div>

                    <div class="tooltip" id="passwords_no_match" for="vpassword">
                      <%- gettext('These passwords don\'t match!') %>
                    </div>

                </li>
            </ul>

            <div class="submit cf forminputs">
                <p class="cf">
                  <button><%- gettext('Verify Email') %></button>
                  <a class="action remember" href="/signin" tabindex="2"><%- gettext('Existing account? Sign in.') %></a>
                </p>

                <p class="tospp">
                   <%- format(
                        gettext('By proceeding, you agree to %(persona)\'s <a %(termsLink)>Terms</a> and <a %(privacyLink)>Privacy Policy</a>.'),
                             { persona: "Persona",
                               termsLink: 'href="https://login.persona.org/tos" target="_new"',
                               privacyLink: 'href="https://login.persona.org/privacy" target="_new"',
                             }) %>
                  </p>

            </div>

            <ul class="notifications">
                <!-- This has to go down here because of the button.  Firefox clicks the first button in the form whenever the user hits enter in the form, whether the button is shown or not, and even if there is an input[type=submit].  Ghetto.  -->
                <li class="notification" id="primary_verify">
                  <p>
                    <%- gettext('To verify that you own <strong id="primary_email">address</strong>, you must sign in with your provider.  A new window will be opened.') %>
                  </p>

                  <p class="submit">
                    <button id="authWithPrimary" tabindex="1"><%- gettext('Verify') %></button>
                  </p>
                </li>
            </ul>


        </form>

        <div class="notification" id="congrats">
            <p><%- gettext('Thank you for signing up with <strong>Persona</strong>. You can now use your Persona account to <em>Sign In</em> or <em>Sign Up</em> to websites all across the web!') %>
            </p>
        </div>

    </div>
</div>

<noscript>
  <%- gettext('We\'re sorry, Persona requires that Javascript is enabled.') %>
</noscript>



