  <div id="favicon">
      <div class="table">
          <div class="vertical">
              <img src="<%= siteicon %>">
              <strong><%= sitename %></strong>
          </div>
      </div>
  </div>


  <div id="signIn">
      <div class="arrow"></div>
      <div class="table">
          <form class="vertical">
              <strong>Sign in using</strong>

              <ul id="inputs">
                <% _.each(identities, function(email_obj, email_address) { %>
                  <li>
                    <label for="<%= email_address %>" class="serif">
                      <input type="radio" name="email" id="<%= email_address %>" value="<%= email_address %>" />
                      <%= email_address %>
                    </label>
                  </li>
                <% }); %>
              </ul>

              <div class="submit cf">
                  <div class="add cf">
                      <a id="useDifferentEmail" href="#">Use a different email</a>
                      <div id="differentEmail" class="cf">
                          <label for="newEmail">New email address</label>
                          <input id="newEmail" name="newEmail" type="email"/>
                          <button id="addDifferentEmail">Add</button>
                          <button id="cancelDifferentEmail">Cancel</button>
                      </div>
                  </div>
                  <button id="signInButton">sign in</button>
              </div>
          </form>
      </div>
  </div>

