  <div class="content">
    <p class="prompt">What email address would you like to use to sign into <span class="sitename bad"><%= sitename %></span>?</p>
    <ul id="identities">
      <% _.each(identities, function(email_obj, email_address) { %>
        <li><input type="radio" name="identity" value="<%=email_address%>" id="<%=email_address%>" /><label for="<%=email_address%>"><%= email_address %></label></li>
      <% }); %>
    </ul>

    <label for="signin">Sign In</label>
    <input type="submit" id="signin" class="righty action submit" name="submit" value="Sign In"/ ></label>

    <img src="<%= siteicon %>" alt="NYTimes Logo" width="75" height="75"/>
  </div>

