  <div id="favicon">
      <div class="table">
          <div class="vertical">
              <strong><%= sitename %></strong>
          </div>
      </div>
  </div>


  <div id="signIn">
      <div class="arrow"></div>
      <div class="table">
          <div class="vertical">
              <strong>Sign in using</strong>

              <section id="selectEmail">
                  <ul class="inputs">
                      <% _.each(identities, function(email_obj, email_address) { %>
                          <li>
                              <label for="<%= email_address %>" class="serif">
                                <input type="radio" name="email" id="<%= email_address %>" value="<%= email_address %>" />
                                <%= email_address %>
                              </label>
                          </li>
                      <% }); %>
                  </ul>

                  <div class="submit add cf">
                      <a id="thisIsNotMe" href="#">This is not me</a>
                      <a id="useNewEmail" href="#">Use a different email</a>
                      <button id="signInButton">sign in</button>
                  </div>
              </section>

              <section id="addEmail" class="cf">

                  <div class="inputs">
                      <label for="newEmail">New email address</label>
                      <input id="newEmail" name="newEmail" type="email"/>
                  </div>

                  <div class="submit cf">
                      <button id="addNewEmail">add</button>
                      <button id="cancelNewEmail">cancel</button>
                  </div>

              </section>

          </div>
      </div>
  </div>

