  <div class="content">
    <p class="prompt">What email address would you like to use to sign into <span class="sitename bad"><%= sitename %></span>?</p>
    <form id="identities" name="identities">
      <ul>
        <% _.each(identities, function(email_obj, email_address) { %>
          <li><input type="radio" name="identity" value="<%=email_address%>" id="<%=email_address%>" /><label for="<%=email_address%>"><%= email_address %></label></li>
        <% }); %>
      </ul>
    </form>
  </div>
  <div class="actions">
    <div class="action"><a id="addemail" href="#">Add a new email address</a></div>
    <div class="action"><a id="notme" href="#">This is not me.</a></div>
  </div>
