<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

  <div id="addEmail" class="cf form_section">

      <ul class="inputs">
          <li>
              <label for="newEmail"><%= gettext('Add another email address to your Persona password.') %></label>
              <input id="newEmail" name="newEmail" type="email" autocapitalize="off" autocorrect="off" maxlength="254" <% if (typeof email !== "undefined") { %> value="<%= email %>" <% } %> placeholder="<%= gettext("email address") %>"/>

              <div id="email_format" class="tooltip" for="newEmail">
                <%= gettext('This field must be an email address.') %>
              </div>

              <div id="email_required" class="tooltip" for="newEmail">
                <%= gettext('The email field is required.') %>
              </div>

              <div id="could_not_add" class="tooltip" for="newEmail">
                <%= gettext('We just sent an email to that address! If you really want to send another, wait a minute or two and try again.') %>
              </div>

              <div id="already_own_address" class="tooltip" for="newEmail">
                <%= gettext('That address is already added to your account!') %>
              </div>
          </li>

          <li id="hint_section" class="addressInfo">
              <%= gettext("Checking with your email provider.") %>
          </li>
      </ul>

      <p class="submit cf buttonrow">
        <button id="addNewEmail"><%= gettext('add') %></button>
        <a href="#" id="cancel" class="right"><%= gettext('cancel') %></a>
      </p>

  </div>


