<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

  <div id="addEmail" class="cf form_section">
      <h2>
          <%= gettext('Add an email address') %>
      </h2>

      <ul class="inputs">
          <li>
              <input id="newEmail" name="newEmail" type="email" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="254" <% if (typeof email !== "undefined") { %> value="<%= email %>" <% } %> placeholder="<%= gettext("email address") %>"/>

              <div id="email_format" class="tooltip" for="newEmail">
                <%= gettext('Must be an email address') %>
              </div>

              <div id="email_required" class="tooltip" for="newEmail">
                <%= gettext('Email field required') %>
              </div>

              <div id="could_not_add" class="tooltip" for="newEmail">
                <%= gettext('Initial confirmation sent &ndash; wait a few minutes before requesting another') %>
              </div>

              <div id="already_own_address" class="tooltip" for="newEmail">
                <%= gettext('Already added!') %>
              </div>
          </li>

          <li id="hint_section" class="addressInfo">
              <%= gettext("Checking with your email provider.") %>
          </li>
      </ul>

      <p class="submit cf buttonrow">
        <button id="addNewEmail"><%= gettext('add') %></button>
        <a href="#" id="cancel" class="right"><%= gettext('cancel') %></a>
      </p>

  </div>


