<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

  <strong><%= gettext('Sign in using') %></strong>

  <div id="addEmail" class="cf form_section">

      <ul class="inputs">
          <li>
              <label for="newEmail" class="serif"><%= gettext('New email address') %></label>
              <input id="newEmail" name="newEmail" type="email" class="sans" autocapitalize="off" autocorrect="off" maxlength="254" <% if (typeof email !== "undefined") { %> value="<%= email %>" <% } %>/>

              <div id="email_format" class="tooltip" for="newEmail">
                <%= gettext('This field must be an email address.') %>
              </div>

              <div id="email_required" class="tooltip" for="newEmail">
                <%= gettext('The email field is required.') %>
              </div>

              <div id="could_not_add" class="tooltip" for="newEmail">
                <%= gettext('We just sent an email to that address! If you really want to send another, wait a minute or two and try again.') %>
              </div>

              <div id="already_own_address" class="tooltip" for="newEmail">
                <%= gettext('That address is already added to your account!') %>
              </div>
          </li>
      </ul>

      <div class="submit cf">
          <button id="addNewEmail"><%= gettext('add') %></button>
          <a href="#" id="cancel"><%= gettext('cancel') %></a>
      </div>

  </div>


