<% /* This Source Code Form is subject to the terms of the Mozilla Public
      License, v. 2.0. If a copy of the MPL was not distributed with this
      file, You can obtain one at http://mozilla.org/MPL/2.0/. */ %>

  <div class="form_section">
      <p class="start">
          <%= format(gettext('%s uses Persona instead of usernames to sign you in.'), ["<strong>" + siteName +"</strong>"]) %>

      </p>

      <ul class="inputs">

          <li>
              <label for="email"><%= gettext('To sign in with Persona, please enter your email address.') %></label>
              <input id="email" type="email" autocapitalize="off" autocorrect="off" value="<%= email %>" maxlength="254" placeholder="<%= gettext('enter email address') %>"/>

              <div id="email_format" class="tooltip" for="email">
                <%= gettext('This field must be an email address.') %>
              </div>

              <div id="email_required" class="tooltip" for="email">
                <%= gettext('The email field is required.') %>
              </div>

              <div id="could_not_add" class="tooltip" for="email">
                <%= gettext('We just sent an email to that address! If you really want to send another, wait a minute or two and try again.') %>
              </div>
          </li>


          <li id="hint_section" class="addressInfo submit">
              <%= gettext("Checking with your email provider.") %>
          </li>

          <li class="returning">

              <label for="password" class="hidden"><%= gettext('Password') %></label>

              <input id="password" type="password" maxlength="80" placeholder="<%= gettext('password') %>" />

              <div id="password_required" class="tooltip" for="password">
                <%= gettext('The password field is required.') %>
              </div>

              <div id="cannot_authenticate" class="tooltip" for="password">
                <%= gettext('This email address and password do not match.') %>
              </div>
          </li>

      </ul>

      <p class="submit cf buttonrow">
        <button class="start addressInfo"><%= gettext('next') %></button>
        <button class="returning"><%= gettext('sign in') %></button>
        <a id="forgotPassword" class="returning" href="#"><%= gettext('Forgot your password?') %></a>
      </p>


      <p class="submit tospp">
         <%= format(gettext("By proceeding, you agree to %(site)'s <a %(terms)>Terms</a> and <a %(privacy)>Privacy Policy</a>."),
                    { site: "Persona",
                      terms: 'href="https://login.persona.org/tos" target="_new"',
                      privacy: 'href="https://login.persona.org/privacy" target="_new"' }) %>
      </p>

  </div>
