<% /* This Source Code Form is subject to the terms of the Mozilla Public
      License, v. 2.0. If a copy of the MPL was not distributed with this
      file, You can obtain one at http://mozilla.org/MPL/2.0/. */ %>
  <strong><%= gettext('Sign in using') %></strong>
  <div class="form_section">
      <ul class="inputs">

          <li>
              <label for="email"><%= gettext('Email') %></label>
              <input id="email" class="sans" type="email" autocapitalize="off" autocorrect="off" value="<%= email %>" maxlength="254" tabindex="1"/>

              <div id="email_format" class="tooltip" for="email">
                <%= gettext('This field must be an email address.') %>
              </div>

              <div id="email_required" class="tooltip" for="email">
                <%= gettext('The email field is required.') %>
              </div>

              <div id="could_not_add" class="tooltip" for="email">
                <%= gettext('We just sent an email to that address! If you really want to send another, wait a minute or two and try again.') %>
              </div>

              <div id="already_registered" class="tooltip" for="email">
                That email address is already registered!  You should try again.
              </div>
          </li>

          <li id="hint_section" class="start">
              <%= format(gettext('Enter your email address to sign in to <strong>%s</strong>'), [sitename]) %>

          </li>

          <li id="hint_section" class="addressInfo">
              <%= gettext("Please hold on while we get information about your email provider.") %>
          </li>

          <li class="returning">

              <a id="forgotPassword" class="forgot right" href="#" tabindex="4"><%= gettext('forgot your password?') %></a>
              <label for="password"><%= gettext('Password') %></label>

              <input id="password" class="sans" type="password" maxlength="80" tabindex="2" />

              <div id="password_required" class="tooltip" for="password">
                <%= gettext('The password field is required.') %>
              </div>

              <div id="cannot_authenticate" class="tooltip" for="password">
                <%= gettext('The account cannot be logged in with this username and password.') %>
              </div>
          </li>

      </ul>

      <div class="submit cf">
        <p class="cf">
          <button class="start addressInfo" tabindex="3"><%= gettext('next') %></button>
          <button class="returning" tabindex="3"><%= gettext('sign in') %></button>
        </p>
        <% if (privacy_url && tos_url) { %>
           <p class="tospp">
            <%= format(
                  gettext('By clicking %s, you confirm that you accept this site\'s <a %s>Terms of Use</a> and <a %s>Privacy Policy</a>.'),
                       [ gettext('next'),
                         format(' href="%s" target="_new"', [tos_url]),
                         format(' href="%s" target="_new"', [privacy_url])
                       ]) %>
          </p>
      <% } %>

      </div>
  </div>
