<% /* This Source Code Form is subject to the terms of the Mozilla Public
      License, v. 2.0. If a copy of the MPL was not distributed with this
      file, You can obtain one at http://mozilla.org/MPL/2.0/. */ %>
  <strong><%= gettext('Sign in using') %></strong>
  <div class="form_section">
      <ul class="inputs">

          <li>
              <label for="email" class="serif"><%= gettext('Email') %></label>
              <input id="email" class="sans" type="email" autocapitalize="off" autocorrect="off" value="<%= email %>" maxlength="254" tabindex="1"/>

              <div id="email_format" class="tooltip" for="email">
                <%= gettext('This field must be an email address.') %>
              </div>

              <div id="email_required" class="tooltip" for="email">
                <%= gettext('The email field is required.') %>
              </div>

              <div id="could_not_add" class="tooltip" for="email">
                <%= gettext('We just sent an email to that address!  If you really want to send another, wait a minute or two and try again.') %>
              </div>

              <div id="already_registered" class="tooltip" for="email">
                That email address is already registered!  You should try again.
              </div>
          </li>

          <li id="hint_section" class="start">
              <p><%= format(gettext('Enter your email address to sign in to <strong>%s</strong>'), [sitename]) %></p>
          </li>

          <li id="create_text_section" class="newuser">
              <p><strong><%= gettext('Welcome to BrowserID!') %></strong></p>
              <p><%= gettext('This email looks new, so let&apos;s get you set up.') %></p>
          </li>

          <li class="returning">

              <label for="password" class="half serif"><%= gettext('Password') %></label>
              <div class="half right">
                  <a id="forgotPassword" href="#" tabindex="4"><%= gettext('forgot your password?') %></a>
              </div>
              <input id="password" class="sans" type="password" maxlength="80" tabindex="2" />

              <div id="password_required" class="tooltip" for="password">
                <%= gettext('The password field is required.') %>
              </div>

              <div id="cannot_authenticate" class="tooltip" for="password">
                <%= gettext('The account cannot be logged in with this username and password.') %>
              </div>
          </li>

      </ul>

      <div class="submit cf">
          <button class="start" tabindex="3"><%= gettext('next') %></button>
          <button class="newuser" tabindex="3"><%= gettext('verify email') %></button>

          <button class="returning" tabindex="3"><%= gettext('select email') %></button>
      </div>
  </div>
