<% /* This Source Code Form is subject to the terms of the Mozilla Public
      License, v. 2.0. If a copy of the MPL was not distributed with this
      file, You can obtain one at http://mozilla.org/MPL/2.0/. */ %>

    <h2><%= gettext('Check your email!') %></h2>

    <p>
      <%= format(gettext('We sent a confirmation email to <strong>%s</strong>'), [email]) %>
    </p>

    <p>
      <%= gettext('To finish signing in just click the verify link we sent to your email address.') %>
    </p>
    <br />

    <p>
      <% if(required) { %>
        <%= gettext('If this is a mistake, just ignore the sent email and <a href="#" id="cancel">cancel</a>.') %>
      <% } else { %>
        <%= gettext('If this is a mistake, just ignore the sent email and <a href="#" id="back">use another email address</a>.') %>
      <% } %>
    </p>

