<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->


  <div id="error_contents">

  <% if (typeof network !== "undefined" && network.status == 503) { %>
    <h2 id="error_503">
      <%= gettext("We are very sorry.") %><span class="emphasis"> <%= gettext("The server is under extreme load!") %></span>
    </h2>
  <% } else if (typeof network !== "undefined" && network.status == 403) { %>
    <h2 id="error_403">
      <%= gettext("Persona requires cookies") %>
    </h2>
    <%= format(gettext("Please close this window, <a %s>enable cookies</a> and try again"), [" target='_blank' href='http://support.mozilla.org/en-US/kb/Websites%20say%20cookies%20are%20blocked'"]) %>
  <% } else { %>
    <h2 id="defaultError">
      <%= gettext("We are very sorry.") %><span class="emphasis"> <%= gettext("There has been an error!") %></span>
    </h2>
  <% } %>

  <% if (!(typeof network !== "undefined" && network.status == 403)) { %>
    <p class="emphasis">
      <% if (typeof dialog !== "undefined" && dialog !== false) { %>
        <%= gettext("Please reload the page and try again.") %>
      <% } else { %>
        <%= gettext("Please close this window and try again.") %>
      <% } %>
    </p>
  <% } %>

  <% if(typeof action !== "undefined" || typeof network !== "undefined") { %>
    <a href="#" id="openMoreInfo">
      <%= gettext("See more info") %>
    </a>

    <ul id="moreInfo">
      <% if (typeof action !== "undefined") { %>
        <li>
          <strong id="action">Action: </strong><%= action.title %>

          <% if (action.message) { %>
            <p>
              <%= action.message %>
            </p>
          <% } %>
        </li>
      <% } %>

      <% if (typeof network !== "undefined") { %>
        <li>

          <strong id="network">Network Info:</strong> <%= network.type %>: <%= network.url %>

          <p>
            <strong>Response Code - </strong> <%= network.status %>
          </p>

          <% if (network.responseText) { %>
            <p>
              <strong>Response Text:</strong> <%= network.responseText %>
            </p>
          <% } %>

          <% if (network.errorThrown) { %>
            <p>
              <strong>Error Type:</strong> <%= network.errorThrown %>
            </p>
          <% } %>
        </li>

      <% } %>
    <% } %>

  </ul>

  </div>
