<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->


  <% if (typeof network !== "undefined" && network.status == 503) { %>
    <h2 id="error_503">We are very sorry, the server is under extreme load!</h2>
  <% } else { %>
    <h2 id="defaultError">We are very sorry, there has been an error!</h2>
  <% } %>

  <p>
  <% if (typeof dialog !== "undefined" && dialog !== false) { %>
    To retry, you will have to reload the page and try again.  More info can be found by opening the expanded info below.
  <% } else { %>
    To retry, you will have to close BrowserID and try again.  More info can be found by opening the expanded info below.
  <% } %>
  </p>

  <a href="#" id="openMoreInfo">See more info</a>

  <ul id="moreInfo">
    <% if (typeof action !== "undefined") { %>
      <li>
        <strong id="action">Action: </strong><%= action.title %>

        <% if (action.message) { %>
          <p>
            <%= action.message %>
          </p>
        <% } %>
      </li>
    <% } %>

    <% if (typeof network !== "undefined") { %>
      <li>

        <strong id="network">Network Info:</strong> <%= network.type %>: <%= network.url %>

        <p>
          <strong>Response Code - </strong> <%= network.textStatus %>
        </p>

        <% if (network.responseText) { %>
          <p>
            <strong>Response Text:</strong> <%= network.responseText %>
          </p>
        <% } %>

        <% if (network.errorThrown) { %>
          <p>
            <strong>Error Type:</strong> <%= network.errorThrown %>
          </p>
        <% } %>
      </li>

    <% } %>

  </ul>
