<% /* This Source Code Form is subject to the terms of the Mozilla Public
      License, v. 2.0. If a copy of the MPL was not distributed with this
      file, You can obtain one at http://mozilla.org/MPL/2.0/. */ %>

  <div id="your_computer_content">
    <h2><%= gettext('Remember You?') %></h2>
	<p><%= gettext('How long would you like to remain signed in with Persona?') %></p>
    <ul>
      <li>
        <button id="this_is_my_computer" tabindex="3"><%= gettext('One month') %></button>
        <%= gettext('I trust this computer.') %>
      </li>

      <li>
        <button id="this_is_not_my_computer" class="negative" tabindex="3"><%= gettext('This session only') %></button>
        <%= gettext('This is not my computer.') %>
      </li>
    </ul>
    <p><%= gettext('Note: You can of course sign out of Persona at any time.') %></p>
  </div>


