<% /* This Source Code Form is subject to the terms of the Mozilla Public
      License, v. 2.0. If a copy of the MPL was not distributed with this
      file, You can obtain one at http://mozilla.org/MPL/2.0/. */ %>

  <div id="your_computer_content">
    <h2><%= gettext('If you don\'t mind me asking, is this your computer?') %></h2>

    <ul>
      <li>
        <button id="this_is_my_computer" tabindex="3"><%= gettext('yes') %></button>
        <%= gettext('If so, we\'ll keep you logged in for two weeks.') %>
      </li>

      <li>
        <button id="this_is_not_my_computer" class="negative" tabindex="3"><%= gettext('no') %></button>
        <%= gettext('If you\'re at a public computer such as a library or internet cafe, choose this.  We\'ll prompt you for your password in an hour for greater security.') %>
      </li>
    </ul>
  </div>


