<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

  <div class="loadingSpinner"></div>

  <h2 <% if(typeof id !== "undefined") { %>id="<%= id %>"<% } %>><%= title %></h2>

  <% if (typeof message !== "undefined") { %>
    <p><%= message %></p>

    <% if(typeof network !== "undefined") { %>
    <a href="#" class="openMoreInfo">
      <%= gettext("See more info") %>
    </a>

    <ul class="moreInfo">
        <li>

          <strong id="network">Network Info:</strong> <%= network.type %>: <%= network.url %>

          <% if (network.errorThrown) { %>
            <p>
              <strong>Error Type:</strong> <%= network.errorThrown %>
            </p>
          <% } %>
        </li>

    </ul>
    <% } %>

  <% } %>
