<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->



  <div id="selectEmail" class="form_section">
      <h2><%= gettext('Sign in with Persona') %></h2>

      <p>
        <%= gettext('Sign in as...') %>
      </p>

      <ul class="inputs" id="emailList">
          <% _.each(identities, function(item, index) { var emailAddress = item.address, id = "email_" + index; %>
              <li>
                  <label for="<%= id %>" class="<% if (emailAddress === siteEmail) { %> preselected<% } %> selectable" title="<%= emailAddress %>" >
                    <input type="radio" name="email" id="<%= id %>" value="<%= emailAddress %>"
                        <% if (emailAddress === siteEmail || identities.length === 1) { %> checked="checked" <% } %>
                      />
                    <%= emailAddress %>
                  </label>
              </li>
          <% }); %>
      </ul>

      <div id="must_choose_email" class="tooltip" for="emailList">
        <%= gettext('Please choose an email address.') %>
      </div>

      <p style="font-size: 13px;">
        <a id="useNewEmail" href="#"><%= gettext('Add an email address') %></a>
      </p>
      <p style="font-size: 13px;">
        <a id="thisIsNotMe" href="#"><%= gettext('Use another account') %></a>
      </p>


      <p class="submit add cf buttonrow">
        <button id="signInButton"><%= gettext('sign in') %></button>
        <a href="#" class="right cancelDialog"><%= gettext('cancel') %></a>
      </p>
  </div>
