<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->



  <p>
    <%= gettext('Sign in as...') %>
  </p>

  <div id="selectEmail" class="form_section">
      <ul class="inputs">
          <% _.each(identities, function(item, index) { var emailAddress = item.address, id = "email_" + index; %>
              <li>
                  <label for="<%= id %>" class="<% if (emailAddress === siteEmail) { %> preselected<% } %> selectable" title="<%= emailAddress %>" >
                    <input type="radio" name="email" id="<%= id %>" value="<%= emailAddress %>"
                        <% if (emailAddress === siteEmail) { %> checked="checked" <% } %>
                      />
                    <%= emailAddress %>
                  </label>
              </li>
          <% }); %>
      </ul>

      <a id="useNewEmail" class="emphasize" href="#"><%= gettext('Add another email address') %></a>
      <a id="thisIsNotMe" class="emphasize" href="#"><%= gettext('This is not me') %></a>


      <p class="submit add cf">
        <button id="signInButton"><%= gettext('sign in') %></button>
      </p>
  </div>
