<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->



  <div id="selectEmail" class="form_section">
      <h2 class="isMobile"><%= gettext('Sign in with Persona') %></h2>

      <h2 class="isDesktop">
        <%- format(gettext('Sign in to %s as&hellip;'), [(siteName || hostname) ]) %>
      </h2>

      <ul class="inputs" id="emailList">
          <% _.each(identities, function(item, index) { var emailAddress = item.address, id = "email_" + index; %>
              <li>
                  <label for="<%= id %>" class="<% if (emailAddress === siteEmail) { %> preselected selected<% } %> selectable" title="<%= emailAddress %>" >
                    <input type="radio" name="email" id="<%= id %>" value="<%= emailAddress %>"
                        <% if (emailAddress === siteEmail || identities.length === 1) { %> checked="checked" <% } %>
                      />
                    <%= emailAddress %>
                  </label>
              </li>
          <% }); %>
      </ul>

      <div id="must_choose_email" class="tooltip" for="emailList">
        <%= gettext('Select an email address') %>
      </div>

      <a class="isDesktop emphasize useNewEmail" href="#"><%= gettext('Add another email address') %></a>
      <a class="isDesktop emphasize thisIsNotMe" href="#"><%= gettext('This is not me') %></a>

      <p class="isMobile">
        <a class="useNewEmail" href="#"><%= gettext('Add an email address') %></a>
      </p>

      <p class="isMobile">
        <a class="thisIsNotMe" href="#"><%= gettext('This is not me') %></a>
      </p>

      <% if (privacyPolicy && termsOfService) { %>
        <p class="tospp isMobile">
          <%- format(gettext("By proceeding, you agree to %(site)s's <a %(terms)s>Terms</a> and <a %(privacy)s>Privacy Policy</a>."),
                     {
                       terms: 'href="' + termsOfService + '" class="rp_tos" target="_blank" tabindex="10"',
                       privacy: 'href="' + privacyPolicy + '" class="rp_pp" target="_blank" tabindex="10"',
                       site: siteName || hostname
                     })
          %>
         </p>
      <% } %>

      <p class="submit add cf buttonrow">
        <button id="signInButton"><%= gettext('sign in') %></button>
        <a href="#" class="cancelDialog isMobile"><%= gettext('cancel') %></a>
      </p>
  </div>
