<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

  <strong>
    <% if(secondary_auth) { %>
      <%= gettext("Sign in using") %>
    <% } else { %>
      <%= gettext("The site requested you sign in using") %>
    <% } %>
  </strong>
  <div class="form_section">
      <ul class="inputs">

          <li>
              <label for="email"><%= gettext("Email") %></label>
              <input id="required_email" type="email" value="<%= email %>" disabled />
              <div id="could_not_add" class="tooltip" for="required_email">
                <%= gettext("We just sent an email to that address! If you really want to send another, wait a minute or two and try again.") %>
              </div>
          </li>

          <% if (verify && primary) { %>
              <li>
                  <%= gettext("You must sign in with your email provider to verify ownership of this address. This window will be redirected to") %>
                  <p>
                      <strong></strong>.
                  </p>
              </li>
          <% } %>

          <% if (password) { %>
              <li id="password_section">
                  <a id="forgotPassword" class="right forgot" href="#" tabindex="4"><%= gettext("forgot your password?") %></a>
                  <label for="password"><%= gettext("Password") %></label>

                  <input id="password" type="password" maxlength="80" tabindex="2" />

                  <div id="password_required" class="tooltip" for="password">
                    <%= gettext("The password field is required.") %>
                  </div>

                  <div id="cannot_authenticate" class="tooltip" for="password">
                    <%= gettext('This email address and password do not match.') %>
                  </div>

              </li>
          <% } %>

      </ul>

      <div class="submit cf">
          <p class="cf">
            <% if (signin) { %>
              <button id="sign_in" tabindex="3"><%= gettext("sign in") %></button>
            <% } else if (verify) { %>
              <button id="verify_address" tabindex="3"><%= gettext("verify email") %></button>
            <% } %>

            <% if (secondary_auth) { %>
              <a href="#" id="cancel" class="action" tabindex="4"><%= gettext("cancel") %></a>
            <% } %>
          </p>
          <% if (personaTOSPP) { %>
            <p class="tospp">
               <%= format(gettext("By proceeding, you agree to %(site)'s <a %(terms)>Terms</a> and <a %(privacy)>Privacy Policy</a>."),
                          { site: "Persona",
                            terms: 'href="https://login.persona.org/tos" target="_new"',
                            privacy: 'href="https://login.persona.org/privacy" target="_new"' }) %>
            </p>
          <% } %>
      </div>
  </div>
