<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

  <strong><%= gettext('Welcome to Persona!') %></strong>

  <div class="form_section" id="set_password">
      <ul class="inputs">
          <li>
            <% if(password_reset || !cancelable) { %>
              <%= gettext("Choose a new password you'll use when you sign in with Persona.") %>
            <% } else { %>
              <%= gettext("Next, choose a new password you'll use when you sign in with Persona.") %>
            <% } %>
          </li>


          <li>
              <label for="password" class="serif"><%= gettext('Password') %></label>
              <input id="password" class="sans" type="password" maxlength="80" />

              <div class="tooltip" id="password_required" for="password">
                <%= gettext('Password is required.') %>
              </div>

              <div class="tooltip" id="password_length" for="password">
                <%= gettext('Password must be between 8 and 80 characters long.') %>
              </div>

              <div id="could_not_add" class="tooltip" for="password">
                <%= gettext('We just sent an email to that address! If you really want to send another, wait a minute or two and try again.') %>
              </div>
          </li>

          <li>
              <label class="serif" for="vpassword"><%= gettext('Verify Password') %></label>
              <input class="sans" id="vpassword" placeholder="<%= gettext('Repeat Password') %>" type="password" maxlength=80 />

              <div class="tooltip" id="vpassword_required" for="vpassword">
                <%= gettext('Verification password is required.') %>
              </div>

              <div class="tooltip" id="passwords_no_match" for="vpassword">
                <%= gettext('Passwords do not match.') %>
              </div>
          </li>

      </ul>

      <div class="submit cf">
          <button tabindex="1" id="<%= password_reset ? "password_reset" : "verify_user" %>">
            <%= password_reset ? gettext('reset password') : gettext('verify email') %>
          </button>
          <% if(cancelable) { %>
            <a id="cancel" class="action" href="#"><%= gettext('cancel') %></a>
          <% } %>
      </div>
  </div>
