<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

  <div class="form_section" id="set_password">
      <h2 class="isMobile">
        <%= gettext("Create a Password") %>
      </h2>

      <ul class="inputs">
          <li class="isDesktop">
            <% if (transition_no_password) { %>
                <%- format(gettext("%(idp)s no longer allows you to log into Persona with your %(idp)s password. Please create a new password to use with your Persona account."), { idp: "<strong>" + escape(domain) + "</strong>" }) %>
            <% } else if (fxaccount) { %>
                <%= gettext("Your email address is new to us. Please create a password to use with FirefoxOS.") %>
            <% } else { %>
                <%= gettext("Your email address is new to us. Please create a password to use with Persona.") %>
            <% } %>
          </li>


          <li>
              <label for="password" class="isDesktop"><strong><%= email %></strong></label>

              <input id="password" type="password" maxlength="80" placeholder="<%= gettext("create password") %>"/>

              <div class="tooltip" id="password_required" for="password">
                <%= gettext('Password field required') %>
              </div>

              <div class="tooltip" id="password_length" for="password">
                <%= gettext('Passwords must be 8&ndash;80 characters long') %>
              </div>

          </li>

          <li>
              <label for="vpassword" class="hidden isDesktop">
                <%= gettext('Verify Password') %>
              </label>
              <input id="vpassword" placeholder="<%= gettext('verify password') %>" type="password" maxlength="80" />

              <div class="tooltip" id="vpassword_required" for="vpassword">
                <%= gettext('Verification password required') %>
              </div>

              <div id="could_not_add" class="tooltip" for="vpassword">
                <%= gettext('Initial confirmation sent &ndash; wait a few minutes before requesting another') %>
              </div>

              <div class="tooltip" id="passwords_no_match" for="vpassword">
                <%= gettext('Passwords don&rsquo;t match!') %>
              </div>

          </li>

      </ul>

      <p class="isMobile">
        <% if (transition_no_password) { %>
            <%- format(gettext("%(idp)s no longer allows you to log into Persona with your %(idp)s password. Please create a new password to use with your Persona account."), { idp: "<strong>" + escape(domain) + "</strong>" }) %>
        <% } else if (fxaccount) { %>
            <%= gettext("Your email address is new to us. Please create a password to use with FirefoxOS.") %>
        <% } else { %>
            <%= gettext("Your email address is new to us. Please create a password to use with Persona.") %>
        <% } %>
      </p>

      <p class="submit cf buttonrow">
          <button id="verify_user">
            <%= gettext('done') %>
          </button>

          <% if(cancelable) { %>
            <a id="cancel" class="right" href="#"><%= gettext('cancel') %></a>
          <% } %>
      </p>
  </div>
