<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

  <div class="form_section" id="set_password">
      <% if (password_reset) { %>
        <strong><%= gettext("Reset your password") %></strong>
      <% } %>

      <ul class="inputs">
          <li>
            <% if (!password_reset) { %>
              <%= gettext("Your email address is new to us. Please create a password to use with Persona.") %>
            <% } %>
          </li>


          <li>
              <% if (password_reset) { %>
                <label for="password"><%= format(gettext("Create a new password to use with %s."), ["Persona"]) %></label>
              <% } else { %>
                <label for="password"><strong><%= email %></strong></label>
              <% } %>

              <input id="password" type="password" maxlength="80" placeholder="<%= gettext("create password") %>"/>

              <div class="tooltip" id="password_required" for="password">
                <%= gettext('Password is required.') %>
              </div>

              <div class="tooltip" id="password_length" for="password">
                <%= gettext('Password must be between 8 and 80 characters long.') %>
              </div>

              <div id="could_not_add" class="tooltip" for="password">
                <%= gettext('We just sent an email to that address! If you really want to send another, wait a minute or two and try again.') %>
              </div>
          </li>

          <li>
              <label for="vpassword" class="hidden"><%= gettext('Verify Password') %></label>
              <input id="vpassword" placeholder="<%= gettext('verify password') %>" type="password" maxlength="80" />

              <div class="tooltip" id="vpassword_required" for="vpassword">
                <%= gettext('Verification password is required.') %>
              </div>

              <div class="tooltip" id="passwords_no_match" for="vpassword">
                <%= gettext('These passwords don\'t match!') %>
              </div>
          </li>

      </ul>

      <p class="submit cf buttonrow">
          <button id="<%= password_reset ? "password_reset" : "verify_user" %>">
            <%= (password_reset ? gettext('reset password') : gettext('done')) %>
          </button>

          <% if(cancelable) { %>
            <a id="cancel" class="right" href="#"><%= gettext('cancel') %></a>
          <% } %>
      </p>

      <% if (password_reset) { %>
        <p class="submit">
          <%= gettext("Note: This password will be used with all of your Persona email addresses.") %>
        </p>
      <% } %>

      <% if (personaTOSPP) { %>
        <p id="persona_tospp" class="submit tospp">
            <%= format(gettext("By proceeding, you agree to %(site)'s <a %(terms)>Terms</a> and <a %(privacy)>Privacy Policy</a>."),
                       { site: "Persona",
                         terms: 'href="https://login.persona.org/tos" target="_new"',
                         privacy: 'href="https://login.persona.org/privacy" target="_new"' }) %>
        </p>
      <% } %>
  </div>
