<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<div class="cf form_section">
	<h3>
    <%= format(gettext("%s makes this easy"), [idpName]) %>
  </h3>

  <p>
    <%= format(gettext("Persona lets you use your %(emailProvider) account to sign into sites like %(aWebsite)."),
               { emailProvider: idpName, aWebsite: siteName }) %>
  </p>
  <p>
    <%= format(gettext("Once you verify your account there, you will be signed in to %(aWebsite)."),
               {aWebsite : siteName}) %>
  </p>
    <p class="submit cf buttonrow">
        <button id="verifyWithPrimary"><%= format(gettext("sign in with %s"), [idpName]) %></button>
        <a href="#" id="cancel" class="emphasize right"><%= gettext("Use a different email address") %></a>
    </p>

    <% if (personaTOSPP) { %>
      <p id="persona_tospp" class="submit tospp">
         <%= format(gettext("By proceeding, you agree to %(site)'s <a %(terms)>Terms</a> and <a %(privacy)>Privacy Policy</a>."),
                    { site: "Persona",
                      terms: 'href="https://login.persona.org/tos" target="_new"',
                      privacy: 'href="https://login.persona.org/privacy" target="_new"' }) %>
      </p>
    <% } %>

</div>
