<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<div class="cf form_section">
  <p class="description" id="upgrade_to_primary">
      <%- format(gettext("Your %(emailProvider)s account has been upgraded to work even better with Persona. We will redirect you to %(emailProvider)s."), {
        emailProvider: idpName
      })%>
  </p>

  <p id="postVerify">
    <%- format(gettext("Once you verify your account there, you will be signed in to %(aWebsite)s."),
               {aWebsite : siteName}) %>
  </p>

  <p class="submit cf buttonrow">
      <button class="isDesktop verifyWithPrimary"><%- format(gettext("sign in with %s"), [idpName]) %></button>
      <a href="#" class="cancel emphasize right isDesktop"><%= gettext("Use a different email address") %></a>
      <button class="isMobile verifyWithPrimary"><%- gettext("sign in") %></button>
      <a href="#" class="cancel isMobile"><%= gettext("cancel") %></a>
  </p>


</div>
