<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<div class="cf form_section">
  <h2>
      <%= gettext("Good news!") %>
  </h2>
  <p id="upgrade_to_primary">
  <%- format(gettext("%(email)s no longer requires an extra password. Verify your account and you will immediately be signed in to %(aWebsite)s"),
           { email: "<strong>" + escape(email) + "</strong>" ,
           aWebsite: "<strong>" + siteName + "</strong>" })%>
  <p>

  <p class="submit cf buttonrow">
      <button class="isDesktop verifyWithPrimary"><%- gettext("verify") %></button>
      <button class="isMobile verifyWithPrimary"><%- gettext("sign in") %></button>
      <a href="#" class="cancel right"><%= gettext("cancel") %></a>
  </p>


</div>
