<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<% if (requiredEmail) { %>
  <strong><%= gettext('The site requested you sign in using') %></strong>
  <div id="verify_primary_user" class="cf form_section">
      <ul class="inputs">

          <li>
              <label for="email"><%= gettext('Email') %></label>
              <input id="required_email" type="email" value="<%= email %>" disabled />
              <div id="could_not_add" class="tooltip" for="required_email">
                <%= gettext("We just sent an email to that address! If you really want to send another, wait a minute or two and try again.") %>
              </div>
          </li>

          <li class="small">
              <%= gettext("You must sign in with your email provider to verify ownership of this address. This window will be redirected to") %>
              <p>
                  <strong><%= auth_url %></strong>.
              </p>
          </li>
      </ul>

      <div class="submit cf">
          <p class="cf">
            <button id="verifyWithPrimary"><%= gettext("verify") %></button>
          </p>

          <% if (personaTOSPP) { %>
            <p id="persona_tospp" class="tospp">
               <%= format(
                  gettext('By proceeding, you agree to %s\'s <a %s>Terms</a> and <a %s>Privacy Policy</a>.'),
                       [ "Persona",
                         ' href="https://login.persona.org/tos" target="_new"',
                         ' href="https://login.persona.org/privacy" target="_new"',
                       ]) %>
            </p>
          <% } %>
      </div>
  </div>

<% } else { %>
  <strong><%= gettext("Verify With Email Provider") %></strong>

  <div id="verify_primary_user" class="cf form_section">
    <div class="small">
      <%= gettext("You must sign in with your email provider to verify ownership of this address. This window will be redirected to") %>
      <p>
        <strong><%= auth_url %></strong>.
      </p>
    </div>

    <div class="submit cf">
        <p class="cf">
          <button id="verifyWithPrimary"><%= gettext("verify") %></button>
          <a href="#" id="cancel" class="action"><%= gettext("cancel") %></a>
        </p>
        <% if (personaTOSPP) { %>
          <p id="persona_tospp" class="tospp">
             <%= format(
                gettext('By proceeding, you agree to %s\'s <a %s>Terms</a> and <a %s>Privacy Policy</a>.'),
                     [ "Persona",
                       ' href="https://login.persona.org/tos" target="_new"',
                       ' href="https://login.persona.org/privacy" target="_new"',
                     ]) %>
          </p>
        <% } %>
    </div>

  </div>
<% } %>

